<form method="post" action="/admin/create_user">
  <label for="login">Login</label>
  <input id="login" type="text" name="login">
  <label for="password">Senha</label>
  <input id="password" type="password" name="password">
  <button class="btn btn-primary" type="submit">Criar</button>
</form>