<main id="adm_login_main">
  <div>
    {{#if message_error}}
    <div class="contact-alert alert alert-danger" role="alert">
      <p>{{message_error}}</p>
    </div>
    {{/if}}
    <form role="form" method="post" action="/admin/user">
      <h1 class="h3 mb-3 fw-normal" role="heading">Acesso administrativo</h1>
      <div class="form-floating">
        <input id="adm_login_input" type="text" class="form-control" role="textbox" aria-label="adm_login" placeholder="login" required>
        <label for="adm_login_input">Login</label>
      </div>
      <div class="form-floating">
        <input id="adm_password_input" type="email" class="form-control" placeholder="senha" required>
        <label for="adm_password_input">Senha</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" role="button">Acessar</button>
    </form>
  </div>
</main>