<main id="form_main" class="d-flex flex-column align-items-center justify-content-center">
  {{#if message_success}}
  <div class="contact-alert alert alert-success" role="alert">
    <p>{{message_success}}</p>
  </div>
  {{/if}}
  {{#if message_error}}
  <div class="contact-alert alert alert-danger" role="alert">
    <p>{{message_error}}</p>
  </div>
  {{/if}}
  <form id="form_page" method="post" action="/contato">

    <div class="mb-3">
      <label for="name" class="form-label">Nome:</label>
      <input id="name" class="form-control" name="name" type="text" required>
    </div>
    <div class="mb-3">
      <label for="pet_name" class="form-label">Nome do seu pet:</label>
      <input id="pet_name" class="form-control" name="pet_name" type="text">
    </div>
    <div class="mb-3">
      <label for="phone_number" class="form-label">Telefone:</label>
      <input id="phone_number" class="form-control" name="phone" type="number" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail:</label>
      <input id="email" class="form-control" name="email" type="email" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</main>