<main id="home_main" role="main">
  <div class="slider" data-bs-ride="slider">
    <div class="slider-inner" role="listbox">
      <div class="slider-item" role="option">
        <h2 class="slider-item-text" role="text">Cuide <span class="smaller-text">do seu </span>melhor amigo!</h2>
        <img class="slider-img" src="/public/images/dogslider1.png" class="d-block w-100" role="img" aria-label="Cão sentado olhando à frente">
      </div>
      <div class="slider-item" hidden role="option">
        <img class="slider-img" src="/public/images/dogheader.png" class="d-block w-100">
      </div>
    </div>
  </div>
</main>