<main id="home_main">
  <div class="slider" data-bs-ride="slider">
    <div class="slider-inner">
      <div class="slider-item">
        <h2 class="slider-item-text">Cuide <span class="smaller-text">do seu </span>melhor amigo!</h2>
        <img class="slider-img" src="/public/images/dogslider1.png" class="d-block w-100" alt="...">
      </div>
      <div class="slider-item" hidden>
        <img class="slider-img" src="/public/images/dogheader.png" class="d-block w-100" alt="...">
      </div>
      <div class="slider-item" hidden>
        <img class="slider-img" src="..." class="d-block w-100" alt="...">
      </div>
    </div>
</div>
</main>