@media screen and (max-width: 1048px) {

}

@media screen and (min-width: 1048px) {

  /* BODY */
  body {
    display: grid;
    margin: 0;
    box-sizing: border-box;
  }

  /* GLOBALS */
  a, li {
    text-decoration: none;
    color: white;
  }

  main {
    padding-bottom: 6%;
  }

  /* HEADER */
  header {
    background-color: #2cbbc3;
  }

  #title {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: black;
  }

  #title > span {
    color: #ff9934;
  }

  #header_container {
    width: 100%;
  }

  #nav_background {
    width: 100%;
    background-image: url('/public/images/HeaderBackground.jpg');
    background-size: 30%;
    height: 170px;
    position: absolute;
    left: -1px;
  }

  #header_top {
    width: 100%;
    height: 50px;
    background-color: #2cbbc3;
  }

  #nav_width {
    position: absolute;
    left: -1px;
    width: 80%;
    height: 72px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: white;
    box-shadow: -4px 6px 20px 4px #5756566b;
  }

  #header_container *:not(#nav-width) {
    z-index: 999;
  }

  #logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 200%;
    box-shadow: 0 7px 20px 5px #575656;
  }

  #logo > svg {
    filter: invert(35%) sepia(30%) saturate(979%) hue-rotate(348deg) brightness(97%) contrast(91%);
  } 

  header li {
    cursor: pointer;
    border-radius: 100%;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: black;
  }

  header li:hover {
    background-color: rgba(163, 163, 163, 0.164);
  }

  header ul > a:first-child li {
    color: #ff9934;
    text-shadow: 3px 2px 5px white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }

  /* /HOME */

  #home_main {
    background-color: #32D0D9;
  }

  .slider-inner {
    display: flex;
    justify-content: space-around;
    background-color: #2cbbc3;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 20%;
  }

  .slider-item {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .slider-item-text {
    text-shadow: 1px 3px 5px black;
    -webkit-text-stroke: 1px #ffffff;
    font-size: 100px;
    color: white;
    font-family: fantasy;
    width: 250px;
    padding: 10px;
  }

  .smaller-text {
    font-size: 50px;
  }

  .slider-img {
    width: 300px;
  }


  /* FOOTER */
  footer {
    background-color: #2F5759;
    color: white
  }

  footer li {
    width: fit-content;
    font-family: 'Times New Roman', Times, serif;
  }

  #whatsapp_logo {
    position: relative;
    /* right: 118px; */
    bottom: 20px;
    filter: invert(52%) sepia(64%) saturate(583%) hue-rotate(66deg) brightness(92%) contrast(96%);
  }
  
  footer form {
    font-size: 13px;
  }

  footer input {
    height: 25px;
  }

  /* /CONTATO */
  #form_main {
    padding-top: 6%;
  }
  
  #form_main h1 {
    padding-bottom: 20px;
  }

  #form_main .contact-alert {
    display: flex;
    justify-content: center;
    width: 100%
  }

  #form_page {
    width: 40%;
  }


  /* ADMIN */
  #adm_login_main {
    display: flex;
    height: 100vh;
    text-align: center;
  }

  #adm_login_main > div {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  /* ADMIN panel */

  #adm_panel_main {
    height: 100vh;
    background-color: #6e7274;
  }

  #adm_panel_main > .contact-container > .contact-box {
    width: 500px;
  }

  #adm_panel_main .title {
    color: white
  }

  #adm_panel_main .nav-container li {
    width: 130px;
    color: white;
  }

  #adm_panel_main .contact-box:hover {
    transform: scale(0.95);
  }
}